@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');

body{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/lr/rm218-eye-08.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&auto=format&ixlib=js-2.2.1&s=a1e3e3ebc01f5076411fa5226655c1ae");
   height: 400px;
   width: 100%;
}


#Name{
    font-size: 90px;
    color: rgb(39, 39, 39);
    font-family: 'Ruthie', cursive;
    margin-top: 10px;
    margin-left: 215px;
    text-shadow: 1px 1px #000000;
    
   
   

}

#nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    background:rgb(70, 43, 56);
    height: 50px;
    margin-top:-20px;
    border: 3px solid rgb(88, 67, 83);
    margin-left:-20px;
    margin-right:-20px;

}

a:hover{
    color:rgb(173, 120, 173);
   
}

a{
    color:white;
    text-decoration: none;
    text-shadow: 2px 2px rgb(75, 74, 74);
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    margin-left: 12px;
    margin-top:10px;

}

#main-container {
    display:flex;
    flex-wrap: wrap;
    justify-content:right;
    background:rgb(70, 43, 56);
    width: 85%;
    height: 80vh;
    margin:auto;
    margin-top: -40px;
    flex-direction: column;
    border: 3px solid rgb(139, 92, 114);

}


.top-container {
    background:rgb(114, 90, 102);
    width: 85%;
    margin:1px;
    height:40vh;
    margin-top: 40px;
    margin-left: 84px;
    border: 3px solid rgb(139, 92, 114);
    
    
    

    
}

p{
    font-size: 15px;
    color:rgb(39, 39, 39);
    margin-left:80px; 
}
