@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    background:rgb(160, 156, 156);
}


#Name{
    font-size: 70px;
    color: rgb(224, 219, 219);
    font-family: 'Satisfy', cursive;
    margin-top: 30px;
    margin-left: 150px;
    text-shadow: 1px 1px #000000;
    
   
   

}

#nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    background:rgb(70, 43, 56);
    height: 50px;
    margin-top:-35px;
    border: 3px solid rgb(88, 67, 83);

}

a:hover{
    color:rgb(173, 120, 173);
}

a{
    color:white;
    text-decoration: none;
    text-shadow: 2px 2px rgb(75, 74, 74);
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    margin-left: 12px;
    margin-top:10px;

}

#main-container {
    display:flex;
    flex-wrap: wrap;
    justify-content:right;
    background:rgb(87, 66, 80);
    width: 85%;
    height: 80vh;
    margin:auto;
    margin-top: 5px;
    flex-direction: column;
    border: 3px solid rgb(139, 92, 114);

}

